In [12]:
count=0
word='abcde'
for letter in word:
   
    print(word[count])
    count=count+1

a
b
c
d
e

In [1]:
for x in range(0,10):
    if x%2==0:
        print(x)

0
2
4
6
8

In [4]:
mylist=[x for x in range(1,50) if x%3==0]
mylist

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [13]:
st = 'Print every word in this sentence that has an even number of letters'
for x in st.split():
    if len(x)%2==0:
        print (x)

word
in
this
sentence
that
an
even
number
of

In [13]:
for x in range(1,100):
    if x%3==0 and not x%5==0:
        print("Fizz",x)
    elif x%5==0 and not x%3==0:
        print("buzz",x)
    elif x%15==0:
        print("FizzBuzz",x)
    else:
        pass

Fizz 3
buzz 5
Fizz 6
Fizz 9
buzz 10
Fizz 12
FizzBuzz 15
Fizz 18
buzz 20
Fizz 21
Fizz 24
buzz 25
Fizz 27
FizzBuzz 30
Fizz 33
buzz 35
Fizz 36
Fizz 39
buzz 40
Fizz 42
FizzBuzz 45
Fizz 48
buzz 50
Fizz 51
Fizz 54
buzz 55
Fizz 57
FizzBuzz 60
Fizz 63
buzz 65
Fizz 66
Fizz 69
buzz 70
Fizz 72
FizzBuzz 75
Fizz 78
buzz 80
Fizz 81
Fizz 84
buzz 85
Fizz 87
FizzBuzz 90
Fizz 93
buzz 95
Fizz 96
Fizz 99

In [1]:
st = 'Create a list of the first letters of every word in this string'
new_list=st.split()
new_list
my_list=[]
for letter in new_list:
    my_list.append(letter[0])
my_list

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [7]:
st = 'Print only the words that start with s in this sentence'
my_string=st.split()
my_list=[]
for letter in my_string:
    if letter[0]=="s":
        my_list.append(letter)        
print(my_list)

['start', 's', 'sentence']

In [10]:
def check_even_list(num_list):
    for num in num_list:
        if num%2==0:
            print(True)
        else:
            print(False)
    
check_even_list([1,2,5])

False
True
False

In [11]:
list_my=[1,2,3,4]
for num in list_my:
    print(num)

1
2
3
4

In [13]:
for num in range(0,100,5):
    print(num)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [20]:
word='abcde'
count=0
for x in word:
    count=count+1
print(count)

5

In [21]:
len(word)

5

In [32]:
word='abcde'
count=0
for x in enumerate(word):
    print(x)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [33]:
list1=[0,1,2,3,4]
list2=['a','b','c','d','e']
for x in zip(list1,list2):
    print(x)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [34]:
list1=[0,1,2,3,4]
list2=['a','b','c','d','e']
list3=[100,200,300]
for x in zip(list1,list2,list3):
    print(x)

(0, 'a', 100)
(1, 'b', 200)
(2, 'c', 300)

In [37]:
my_list=[2,5,100,56]
min(my_list)
max(my_list)

100

In [49]:
from random import shuffle
mylist=["a","b","d"]
shuffle(mylist)

In [51]:
a=mylist
a

['d', 'b', 'a']

In [47]:
from random import randint
b=randint(0,100)

In [52]:
input("enter your name:")

enter your name:Reena

'Reena'

In [55]:
a=int(input("enter your age:"))

enter your age:30

In [56]:
mystring="hello world"
my_list=[]
for letter in mystring:
    my_list.append(letter)
my_list

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [57]:
mystring="hello world"

my_list=[letter for letter in mystring]
    
my_list

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [58]:
my_list=[letter for letter in 'word']
    
my_list

['w', 'o', 'r', 'd']

In [63]:
my_list=[num for num in range(0,10) if num%2==0]
    
my_list

[0, 2, 4, 6, 8]

In [66]:
my_list=[num*2 for num in range(0,10)]
    
my_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [67]:
my_list=[1,2,3]
my_list*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [69]:
my_list=[]
for x in [1,2,3]:
    for y in [100,300,400]:
        my_list.append(x+y)
        
my_list

[101, 301, 401, 102, 302, 402, 103, 303, 403]

In [70]:
my_list=[x+y for x in [1,2,3] for y in [100,300,400]]
my_list

[101, 301, 401, 102, 302, 402, 103, 303, 403]

In [11]:
work=[('reena',200),('swati',300),("veena",800)]

def employee_check(work):
    current_max=0
    employee_name=" "
    for employee, hours in work:
        if hours>current_max:
            current_max=hours
            employee_name=employee
            
        else:
            pass
    return(current_max,employee)

In [12]:
employee_check(work)

(800, 'veena')

In [72]:
from random import shuffle
my_list=[' ','o',' ']
shuffle(my_list)

In [73]:
my_list

[' ', 'o', ' ']

In [123]:
def gusse_input():
    select_inp=[]
    while select_inp not in[0,1,2]:
        select_inp=int(input("enter number among 0,1 or 2"))
    return select_inp

In [124]:
my_guess=gusse_input()

enter number among 0,1 or 21

In [125]:
from random import shuffle
my_list=[' ','o',' ']
def suffle_list(my_list):
    shuffle(my_list)
    return my_list

In [126]:
suffle_list(my_list)

[' ', 'o', ' ']

In [127]:
def check_gusse(my_list,my_guess):
    if my_list[my_guess]=='o':
        print("you won the game")
        
    else:
        print("you lose the game")

In [128]:
check_gusse(my_list,my_guess)

you won the game

In [129]:
gusse_input()
suffle_list(my_list)
check_gusse(my_list,my_guess)

enter number among 0,1 or 21
you lose the game

In [130]:
def name_of_func(name):
    print("hello {}".format(name))
    
name_of_func("Swati")

hello Swati

In [131]:
def name_of_student1(age,name="Swati"):
    print("hello {},my age is {}".format(name,age))
    
name_of_func(25)

hello 25

In [95]:
my_list=[2,3,5,6,8]
def even_num(my_list):
    for num in my_list:
        if num%2==0:
            print("even")
        else:
            print("odd")
            
even_num(my_list)

even
odd
odd
even
even

In [99]:
my_list=[1,3,5,5,7]
def even_num(my_list):
    for num in my_list:
        if num%2==0:
            return True
        else:
            pass
    return False
            
even_num(my_list)

False

In [102]:
def addition_of_number(num1,num2):
    c=num1+num2
    print(c)
    
d=addition_of_number(20,30)

50

In [104]:
d

In [105]:
type(d)

NoneType

In [112]:
def addition_of_number(num1,num2):
    
    return num1+num2
    
e=addition_of_number(20,30)

In [113]:
e

50

In [109]:
type(e)

int

In [115]:
market_price=[("apple",200),("banana",100),('ornage',400)]
for fruit,price in market_price:
    print(price+(0.1)*price)

220.0
110.0
440.0

In [120]:
emp_details=[("Reena",4000),("Swati",5000),("megha",2000)]
def emp_of_month(emp_details):
    current_hrs=0
    emp_month=" "
    for employee,hours in emp_details:
        if current_hrs<hours:
            current_hrs=hours
            emp_month=employee
        else:
            pass
        
    return(emp_month,current_hrs)
emp_of_month(emp_details)

('Swati', 5000)

In [3]:
a=int(input("enter first number"))
b=int(input("enter first number"))
def smaller_of_two_number(a,b):
    if a%2==0 and b%2==0:
        if a<b:
            print(a)
        else:
            pass
    else:
        if a>b:
            print(a)
        else:
            print(b)
smaller_of_two_number(a,b)

enter first number5
enter first number4
5

In [14]:
str=input("Enter two word string :")
def same_string(str):
    str.split()
    if str[0]==str[0]:
        return True
    else:
        return False
    
same_string(str)

Enter two word string :sing song

True

In [12]:
str

['sing song']

In [25]:
number=[]
for num in range(0,2):
    num=int(input("enter number"))
    number.append(num)
#def sum_of_interger(number):

enter number23
enter number24

number

number

In [28]:
pwd

'C:\\Users\\RT\\Untitled Folder'